body {
    background-color:#ffffff;
    width: 95%;
    margin: auto;
    text-align: center
} 

header {
    background-color: #B4BF5E ;
}
h1{
    margin: 0px;
    padding: 10px;
    width: 99%;
}
nav{
    background-color: #5B89A6;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #cecece;
    font-weight: bold;

}

h2{
    text-align: left
}

p{
    text-align: left;
    width: 70%;
    font-size: larger;
}
.green {
    color: #B4BF5E;
    
}
.float-img{
    width: 25%;
    float: right;
}

img{
    width: 20%;
}
